.container-fluid {
  background-color: #BC0031;
}

.chart-stage .shiny-bound-output {
width: 200px !important;
height: 40px !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #1f1d21;
background-color: #DCDDDE;
}